body {
    display: flex;
    justify-content: center;
}

.board {
    border: 5px black solid;
    height: 80vh;
    width: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    border: 1px blue solid;
}