body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;

}

.message {
    letter-spacing: 1.5px;
}

.board {
    border: 5px black solid;
    height: 80vh;
    width: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    border: 1px blue solid;
}

.scoreboard {
    display: grid;
    width: 50%;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: center;
}

.player1,
.player2 {
    display: flex;
    justify-content: center;
    gap: 48px;
}